header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #FC427B;
    letter-spacing: 2px;
}
.img-fluid{
    border-radius: 10%;
}

@media (max-width: 670px){
    h1{
        font-size: 25px !important;
        margin: 0px!important;
    }
      
}