@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-description{
  letter-spacing: 2px; 
}

.cripto-container{
  margin-top:2rem;
  margin-bottom:2rem;
  padding: 2rem;
  background: #FC427B;
  border-radius: 15px;
}


label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2rem;
}
input[type="submit"]{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  height: auto;
}


